/* anti-bounce */
html, body {
    height: 100%;
    overflow: hidden;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}



/*footer*/
.ant-layout-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}



.ReactVirtualized__Table__Selected,
.ant-table-row-highlight{
 background-color: #e6f7ff;
 color: #108ee9;
 font-weight: bold;
}

.ant-table-row-cassa-highlight{
 background-color: #91d5ff;
 color: #108ee9;
 font-weight: bold;
}

.ant-table-row-totale-cassa{
 background-color: #e6f7ff;
 color: #108ee9;
}

.ReactVirtualized__Table__Pinned,
.ant-table-row-pinned{
 font-weight: bold;
}


 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

 .logo {
  content: 'BrucaBook';
  height: 35px;
  background: black;
  background-image:url('/brucabook_small.png');
  background-repeat:no-repeat;
  
  border-radius: 6px;
  margin-left: 18px;
  margin-top: 24px;
}

/*sezione avatar - menu utente */
.userBox{
text-align: right;

}

.userTextBox{
margin-right: 5px;
}

.avatar{
vertical-align: middle;
margin-right: 15px;
}



/* sezione userMgmt non autenticato */
.logoBig {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/brucabook_big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}
 
 .login-form-forgot {
  float: right;
  margin-top: 7px;
}
 .login-form-button {
  width: 100%;
}

/*scene scontrino */
.header-cassa {
font-weight: bold;
}

.header-scontrino {
font-weight: bold;
}

 .nuovo-scontrino-button {
  width: 100%;
}

.sezione-scontrino {
	
border: 2px solid #1890ff;
    border-radius: 5px;
}

.input-numero-scontrino {
width: 55px;	
}
.input-ora-scontrino {
width: 70px;	
}


/*tabella cassa in scene scontrino*/
.tabella-cassa-row {
	font-size: 12px;
}

/*
.tabella-cassa-div-titolo {
	font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-table-row-div-titolo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/
/*Immagine libri*/
.book-img {
	margin: 10px;

}
.book-img img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 150px;
	width: auto;
}

.upload-img  {
	display: block;
    margin-left: auto;
    margin-right: auto;
   height: 150px;
	width: auto;
}


/*form...campi nascosti più evidenti*/
.ant-input-disabled {
    background-color: #f5f5f5;
    opacity: 1;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.65);
}

.bottom-form {
	margin-top: 25px;
	padding-top: 10px;
	border: 2px solid #003a8c;

}

.bottom-form2 {
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #003a8c;

}

.filter-form {
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;

}

.totaliCol {
	margin-top: 30px;
	margin-left: 30px;
	
	

}


.is-changed {
	border: 2px solid #003a8c;
	border-radius: 5px;
}

.custom-tooltip {
	margin: 0px; 
	padding: 10px; 
	background-color: rgb(255, 255, 255); 
	border: 1px solid rgb(204, 204, 204); 
	white-space: nowrap;
}

.tabella-top-books {
	margin: 10px;
}



.tabella-top-books-row {
	font-size: 12px;
}

.report-title{
text-align: center;
font-weight: bold;


}
/* Gestione spazio sotto il form */

.ant-form-item-control-wrapper{
    margin-bottom: 10px;
}

.ReactVirtualized__Table__headerTruncatedText{
	text-transform: none;
	
}


.vtHeadCell {
    font-weight: bold;
    /* border-top: 1px solid #e8e8e8; */
    /*   border-bottom: 1px solid #e8e8e8;*/
       
  padding-left: 5px;
  /*    display: table-cell;*/
       vertical-align: middle;
   background-color: #fafafa;
}


.vtCell {
    border-bottom: 1px solid #e8e8e8;
   /* border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;*/
  
   display: flex;
  /*vertical-align: middle;*/
    align-items: center; 
}

.vtCellSmall {
	font-size: 12px;
}

.vtHeadCellSmall {
	font-size: 12px;
}

.vtCellSelected {
 background-color: #e6f7ff;
 color: #108ee9;
 font-weight: bold;

}

.vtCellHover {
	background-color: #D9E6DF;
	
}

.vtCellPinned {
	font-weight: bold;
}

.vtCellValue {
	padding-left: 5px;
   
}
.vtCellEllipsis {
    text-overflow: ellipsis;
white-space: nowrap;
  overflow: hidden;
}

.vtCellCassaScontrino{


    background-color: #e6f7ff;
    color: #108ee9;
}



.periodPicker {
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 10px;
}
.generalError {
	padding-left: 30px;
	color: red;
	border-radius: 25px;
	background: lightpink;
}	




