

.ant-layout-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}
 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

 .logo {
  content: 'BrucaBook';
  height: 35px;
  background: #333;
  background-image:url('/brucabook_small.png');
  background-repeat:no-repeat;
  
  border-radius: 6px;
  margin-left: 18px;
  margin-top: 24px;
}

.logoBig {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/brucabook_big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}
 
 .login-form-forgot {
  float: right;
  margin-top: 7px;
}
 .login-form-button {
  width: 100%;
}

 
