/* anti-bounce */
html, body {
    height: 100%;
    overflow: hidden;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/*footer*/
.ant-layout-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}

.ant-table-row-highlight{
 background-color: #e6f7ff;
 color: #108ee9;
 font-weight: bold;
}

.ant-table-row-pinned{
 font-weight: bold;
}


 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

 .logo {
  content: 'BrucaBook';
  height: 35px;
  background: black;
  background-image:url('/brucabook_small.png');
  background-repeat:no-repeat;
  
  border-radius: 6px;
  margin-left: 18px;
  margin-top: 24px;
}

/*sezione avatar - menu utente */
.userBox{
text-align: right;

}

.userTextBox{
margin-right: 5px;
}

.avatar{
vertical-align: middle;
margin-right: 15px;
}



/* sezione userMgmt non autenticato */
.logoBig {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/brucabook_big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}
 
 .login-form-forgot {
  float: right;
  margin-top: 7px;
}
 .login-form-button {
  width: 100%;
}

/*scene scontrino */
.header-cassa {
font-weight: bold;
}

.header-scontrino {
font-weight: bold;
}

 .nuovo-scontrino-button {
  width: 100%;
}

.sezione-scontrino {
	
border: 2px solid #1890ff;
    border-radius: 5px;
}

.input-numero-scontrino {
width: 55px;	
}
.input-ora-scontrino {
width: 75px;	
}


/*tabella cassa in scene scontrino*/
.tabella-cassa-row {
	font-size: 12px;
}

/*Immagine libri*/
.book-img {
	margin: 30px;
	
}

/*form...campi nascosti più evidenti*/
.ant-input-disabled {
    background-color: #f5f5f5;
    opacity: 1;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.65);
}
 
